<a href="https://colab.research.google.com/github/maurobavel/LinuxDIOprojeto1/blob/main/Trabajo_Programa%C3%A7%C3%A3o_em_Python_Mayo_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercio 1 hecho
numero1 = int(input("coloca el primer número: "))
numero2 = int(input("coloca el segundo número: "))
soma = (numero1 + numero2)
if soma > 15:
  print ("tu número fue mayor de 15")
else:
  print ("tu número no es mayor de 15")

coloca el primer número: 3
coloca el segundo número: 3
tu número no es mayor de 15

In [ ]:
#Exercicio 2 hecho
numero = int(input("coloca un número positivo o negativo: "))

if numero > 0:
  print("tu número es negativo")
elif numero == 0:
  print("tu número es cero")
else:
  print("tu número es negativo")

coloca un número positivo o negativo: -9
tu número es negativo

In [ ]:
#exercicio 3 hecho
idade = int(input("Coloca tu edad: "))
if idade >=18:
  print("tú eres mayor de edad")
else:
  print ("tú eres menor de edad")

Coloca tu edad: 13
tú eres menor de edad

In [ ]:
#exercicio 4 hecho
temperatura_atual = int(input("Coloca la temperatura actual "))
if temperatura_atual >= 25:
  print("la temperatura actual es cálido")
elif temperatura_atual <15:
  print ("la temperatura actual es fria")
else:
  print ("la temperatura actual es moderada")

Coloca la temperatura actual 45
la temperatura actual es cálido

In [ ]:
#exercicio 5 hecho
numero1 = int(input("colcoa el primer número: "))
numero2 = int(input("coloca el segundo número: "))
if numero1 > numero2:
  print("el primer número es mayor que el segundo número")
elif numero1 < numero2:
  print ("el primer número es menor que el segundo número")
else:
  print("los dos números son iguales")

colcoa el primer número: 3
coloca el segundo número: 2
el primer número es mayor que el segundo número

In [ ]:
#exercicio 6 hecho
import getpass
senhaFornecida = getpass.getpass("Coloca tu contraseña: ")
12
senhaCadastrada = "1234"
if senhaFornecida == senhaCadastrada:
  print("ACESSO PERMITIDO")
else:
  print("ACESSO NEGADO")

Coloca tu contraseña: ··········
ACESSO NEGADO

In [ ]:
#exercicio 7 hecho
notaAluno1 = float(input("coloca tu primera calificación: "))
notaAluno2 = float(input("Coloca tu segunda calificación: "))

mediaAluno = (notaAluno1 + notaAluno2) / 2

if mediaAluno >= 7:
  print("Fuiste aprobado")
elif mediaAluno < 5:
  print("has sido reprobado")
else:
  print("tendrás que hacer un examen")

In [ ]:
#exercicio 8 hecho
marcacaoTime1 = int(input("Coloca cuantos goles tiene el equipo 1: "))
marcacaoTime2 = int(input("Coloca cuantos goles tiene el equipo 2: "))
if marcacaoTime1 > marcacaoTime2:
  print("El equipo 1 ha ganado")
elif marcacaoTime2 > marcacaoTime1:
  print("El equipo 2 ha ganado")
else:
  print("Los dos equipos han empatado")

Coloca cuantos goles tiene el equipo 1: 6
Coloca cuantos goles tiene el equipo 2: 5
El equipo 1 ha ganado

In [ ]:
time1 = input("coloque o nome do primero time: ")
time2 = input("coloque o nome do segundo time: ")

gols_time1 = input(f"Coloque a quantidade de gois do {time1}: ")
gols_time2 = input(f"Coloque a quantidade de gois do {time2}: ")

if gols_time1 > gols_time2:
  print(f"o time {time1}foi vitorioso")
elif gols_time2 > gols_time1:
  print(f"o time {time2} foi vitorioso")
else:
  print(f"o time {time1} e {time2} ficaram empatados")

In [ ]:
#exercicio 9 hecho
turnoAluno = input ("Coloca en qué turno estudias: Matutino (M), Vespertino (V) o Nocturno (N): ").upper()
if turnoAluno == "M":
  print("Buenos dias!")
elif turnoAluno == "V":
  print("Buenas tardes!")
elif turnoAluno == "N":
  print("Buenas noches!")
else:
  print("No reconozco ese turno")

Coloca en qué turno estudias: Matutino (M), Vespertino (V) o Nocturno (N): N
Buenas noches!

In [ ]:
#Exercicio  10 hecho
idadeUsuario = int(input("Coloca tu edad: "))
if idadeUsuario <= 11:
  print("Niño")
elif idadeUsuario <=18:
  print("Adolescente")
elif idadeUsuario <=24:
  print ("Joven")
elif idadeUsuario <=40:
  print ("Adulto")
elif idadeUsuario <= 60:
  print ("Edad Media")
else:
  print("Viejo para caramba")

Coloca tu edad: 80
Viejo para caramba

In [ ]:
#Exercicio 11 hecho
salarioTrabalhador = float(input("Coloca tu salario actual: R$ "))
if salarioTrabalhador <= 280.00:
  salarioNovoTrabalhador = (salarioTrabalhador + (salarioTrabalhador / 100 *20))
  print(f"Tu salario original es de ",{salarioTrabalhador},", Con un 20% aplicado, y un aumento de" ,{salarioTrabalhador / 100 *20}, ". Teniendo un total de ",{salarioNovoTrabalhador})
elif salarioTrabalhador <= 700.00:
  salarioNovoTrabalhador = (salarioTrabalhador + (salarioTrabalhador / 100 *15))
  print(f"Tu salario original es de ",{salarioTrabalhador},", Con un 15% aplicado, y un aumento de" ,{salarioTrabalhador / 100 *15}, ". Teniendo un total de ",{salarioNovoTrabalhador})
elif salarioTrabalhador <= 1500.00:
  salarioNovoTrabalhador = (salarioTrabalhador + (salarioTrabalhador / 100 *10))
  print(f"Tu salario original es de ",{salarioTrabalhador},", Con un 10% aplicado, y un aumento de" ,{salarioTrabalhador / 100 *10}, ". Teniendo un total de ",{salarioNovoTrabalhador})
else:
  salarioNovoTrabalhador = (salarioTrabalhador + (salarioTrabalhador / 100 *5))
  print(f"Tu salario original es de ",{salarioTrabalhador},", Con un 5% aplicado, y un aumento de" ,{salarioTrabalhador / 100 *5}, ". Teniendo un total de ",{salarioNovoTrabalhador})

Coloca tu salario actual: 5000
Tu salario original es de  {5000.0} , Con un 5% aplicado, y un aumento de {250.0} . Teniendo un total de  {5250.0}

In [ ]:
#Exercicio 12 hecho
numeroDoDia = int(input("coloca en qué día de la semana te encuentras: "))
if numeroDoDia == 1:
  print("Hoy es lunes")
elif numeroDoDia == 2:
  print("Hoy es martes")
elif numeroDoDia == 3:
  print ("Hoy es miércoles")
elif numeroDoDia == 4:
  print("Hoy es jueves")
elif numeroDoDia == 5:
  print("Hoy es viernes")
elif numeroDoDia == 6:
  print("hoy es sábado")
elif numeroDoDia == 7:
  print("hoy es domingo")
else:
  print("Lo que escribiste no es válido")

coloca en qué día de la semana te encuentras: 7
hoy es domingo

In [ ]:
#exercicio 13 hecho
temperaturaUsuario = int(input("Coloca la temperatura que deseas convertir: "))
tipoConversión = int(input("Si deseas pasar de Celsius para Farenhait presiona [1], si deseas pasar de Farenheit para Celcius presiona [2]: "))
if tipoConversión == 2:
  temperaturaConvertida = (temperaturaUsuario - 32) / 1.8
  print(f"La temperatura en Celcius es ", {temperaturaConvertida})
elif tipoConversión == 1:
  temperaturaConvertida = (temperaturaUsuario *59) + 32
  print(f"La temperatura en Farenheit es: {temperaturaConvertida}")
else:
  print("Valores inválidos")

Coloca la temperatura que deseas convertir: 1234
Si deseas pasar de Celsius para Farenhait presiona [1], si deseas pasar de Farenheit para Celcius presiona [2]: 1
La temperatura en Farenheit es  {72838}

In [ ]:
#Exercicio 14 hecho
idadeUsuario = int(input("Coloca tu edad: "))
if idadeUsuario <= 16:
  print("No puedes votar en Brasil")
elif idadeUsuario <=18:
  print("Tu voto es opcional en Brasil")
elif idadeUsuario <=64:
  print("Tu voto es obligatorio")
elif idadeUsuario >64:
  print("Tu voto es opcional en Brasil")
else:
  print("Valor inválido")

Coloca tu edad: 33
Tu voto es obligatorio

In [ ]:
# Exercicio 15 e 16 hecho Minha versão
pesquisaTelefonou = int(input("Telefonou para a vítima? SIM [1], NÂO [0]"))
pesquisaLocalDoCrime = int(input("Esteve no local do crime? SIM [1], NÂO [0]"))
pesquisaMoraPerto = int(input("Mora perto da vítima? SIM [1], NÂO [0]"))
pesquisaDivida = int(input("Devia para a vítima? SIM [1], NÂO [0]"))
pesquisaTrabalhouComVitima = int(input("Devia para a vítima? SIM [1], NÂO [0]"))

if pesquisaTelefonou + pesquisaLocalDoCrime + pesquisaMoraPerto + pesquisaDivida + pesquisaTrabalhouComVitima ==2:
  print("Él es sospechoso")
elif pesquisaTelefonou + pesquisaLocalDoCrime + pesquisaMoraPerto + pesquisaDivida + pesquisaTrabalhouComVitima == 3 or pesquisaTelefonou + pesquisaLocalDoCrime + pesquisaMoraPerto + pesquisaDivida + pesquisaTrabalhouComVitima == 4:
  print("Él es cómplice")
elif pesquisaTelefonou + pesquisaLocalDoCrime + pesquisaMoraPerto + pesquisaDivida + pesquisaTrabalhouComVitima == 5:
  print ("Él es el asesino")
else:
  print("Él es inoscenete")

Telefonou para a vítima? SIM [1], NÂO [0]1
Esteve no local do crime? SIM [1], NÂO [0]1
Mora perto da vítima? SIM [1], NÂO [0]1
Devia para a vítima? SIM [1], NÂO [0]0
Devia para a vítima? SIM [1], NÂO [0]0
Él es cómplice

In [ ]:
#Excercicio 15 e 16 versão do profesor versão a
respostas = 0

print("Telefonou para a vítima? (s/n)")
resposta = input()
if resposta =="s":
  resposta = resposta + 1

print("Esteve no local do crime?: (s/n)")
resposta = input()
if resposta == "s":
  resposta = resposta + 1

print("")

In [ ]:
resposta = 0

if input("Telefonou para a vitima: sim/naõ") == "sim":
  resposta+=1
if input("Esteve no local do crime: sim/não") == "sim":
  resposta+=1
if input("Mora perto da vitima: sim/não")== "sim":
  resposta+=1
if input("devia para a vitima: sim/não" )== "sim":
  resposta+=1
if input("Já trabalhou com a vítmia: sim/não") == "sim":
  resposta +=1
else:
  print("Valores invalidos")
if resposta == 2:
  print("Suspeita")
if resposta == 3 or resposta == 4:
  print("Cúmplice")
if resposta == 5:
  print("Assasino")
else:
  print("inocente")
print(f"el puntaje de complicidade {resposta}")

Telefonou para a vitima: sim/naõsim
Esteve no local do crime: sim/nãosim
Mora perto da vitima: sim/nãosim
devia para a vitima: sim/nãosim
Já trabalhou com a vítmia: sim/nãosim
Assasino
el puntaje de complicidade 5

In [ ]:
precoArtigo1 = float(input("Coloca el precio del primer artículo: "))
precoArtigo2 = float(input("Coloca el precio del segundo artículo: "))
precoArtigo3 = float(input("Coloca el precio del tercer artículo: "))

if precoArtigo1 < precoArtigo2 and precoArtigo1 < precoArtigo3:
  print ("deberas de comprar el primer artículo")
if precoArtigo2 < precoArtigo1 and precoArtigo2 < precoArtigo3:
  print ("deberas de comprar el segundo artículo")
if precoArtigo3 < precoArtigo1 and precoArtigo3 < precoArtigo2:
  print ("deberás de comrpar el tercer artículo")

Coloca el precio del primer artículo: 2
Coloca el precio del segundo artículo: 3
Coloca el precio del tercer artículo: 1
deberás de comrpar el tercer artículo

In [ ]:
# faça um porgrama que verifique e mostre os núemros entre 1000 e 2000 (inclusive) que, queando divididos por 11 prodixa, restp igal 2

for contador in range(1000, 1001):
  if contador % 11== 2:
    print(contador)

In [ ]:
#faca unm programa que leia 5 números e informe a soma e a média dos números

soma = 0 #Começa com 06

for contador in range (5): #Repete 5 vezes
  numero = float(input("digite um número: ")) # Lé o número de usuario
  soma+=numero #soma o numero a variavel soma

print("Soma: ", soma)# mostra o total da soma
print("Média: ", soma /5) #Calcula e mostrsa a média (soma dividida por 5)

digite um número: 345
digite um número: 3
digite um número: 234
digite um número: 45
digite um número: 5687
Soma:  5687.0
Média:  1137.4

In [ ]:
numero = int(input("Digite um numero para multiplicar: ")) #Lé o núemro

for contador in range(0, 11):
  resultado = numero * contador #Calcula a multiplicação
  print(f"{numero} x {contador} = {resultado}")

Digite um numero para multiplicar: 435
435 x 0 = 0
435 x 1 = 435
435 x 2 = 870
435 x 3 = 1305
435 x 4 = 1740
435 x 5 = 2175
435 x 6 = 2610
435 x 7 = 3045
435 x 8 = 3480
435 x 9 = 3915
435 x 10 = 4350

In [ ]:
#Faça um programa que mostre as tabuadas dos números de 1 a 10 usando láços de repetição
for contador in range(1,11): #Começa o contador desde o número 1 ao 10
  print ("tabuada do", contador) #
  for i in range(1, 11):
    print(contador, "x", i, "=", contador*i)
  print()

tabuada do 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

tabuada do 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

tabuada do 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

tabuada do 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

tabuada do 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

tabuada do 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

tabuada do 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

tabuada do 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

tabuada do 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

tabuada do 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
#faca um programa que imprima na tela os níuermos de 1 a 20, um abaixo do outro. Depois modifique o programa paraa que ele mostre os números um ao lado do outro
for contador in range(1, 21):
  print(contador, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#faça um programa que imprima na tela apenas os núiemros impares entre 1 e 50
for contador in range(1,51, 2):# aquele 2 pode ser usado já que coincide de intervalo em pares
    if contador %2 != 0:
       print(contador)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
#Faça um programa que receba dois núermos interios e gere os números inteiros noi intervalo compreendido por eles
numero1 = int(input("digite o primeiro número: "))
numero2 = int(input("digite o segundo número: "))

#verificar qual é o maior e o menor
menor = min(numero1, numero2)
maior = max(numero1, numero2)

#Mostrar os números entre eles (Excluindo os prpios números)
for i in range(menor +1, maior):
  print(i)

digite o primeiro número: 26
digite o segundo número: 14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
for i in range(100, 10):
  print (i)

In [ ]:
#uma loja deseja cadastrar 5 clientes e cerificar se o faturamento da loja foi superior a loja B

faturamento = 0 #Começa zerado sem valer anda

#Cadastro de 5 clientes
for contador in range(1,6):
  venda = float(input(f"Difite o valor da compra do cliente {contador}: "))
  faturamento += venda #Atribui vendas na variavel faturamento

#Verifica se o faturmaento superou 54 000
if faturamento >54000:
    diferenca = faturamento - 54000
    print(f"O faturamento da loja B em R$ {diferenca:.2f}")
else:
  print ("O faturamento NÂO superou a loja B.")

Difite o valor da compra do cliente 1: 54500
Difite o valor da compra do cliente 2: 1234
Difite o valor da compra do cliente 3: 12134556
Difite o valor da compra do cliente 4: 1233
Difite o valor da compra do cliente 5: 345666
O faturamento da loja B em R$ 12483189.00

In [3]:
#Crea un programa que te pregunte 10 veces un número cualquiera, y entonces cuente cuántos números de los que se cargaron fueron pares y cuantos fueron impares:
pares = 0
impares = 0

for contador in range(10):
  numeros = int(input("Número: "))
  if numeros % 2 == 0:
     pares +=1
  else:
    impares +=1
print("Pares: ", pares)
print("Impares: ",impares)

Número: 2
Número: 5
Número: 7
Número: 8
Número: 1234
Número: 56
Número: 34
Número: 698709
Número: 34
Número: 12
Pares:  7
Impares:  3

In [13]:
#um funcionario de uma empresa recebe um aumento salarial analmente: Sabe=´se que: Esse funcionario foi contratado em 1995, com salario inicial de R$1000;

salario = float(input("Digite o salario inicial: "))
#Definiar o primeiro aumento salarial de 1,5
aumento= 1.5 / 100

#loop que vai do ano 1996 até 2025
for ano in range(1996, 2026):
  #Aplica o aumento no salario
  salario += salario * aumento

  #Mostra o salário atualizado
  print(f"Ano {ano}: Salario = R$ {salario:.2f}")

  #Dobra o percentual de aumento para o proximo ano
  aumento*=2

#Mostra o salario final em 2025
print(f"\nSalário atual em 2025: R${salario:.2f}")

Digite o salario inicial: 1000
Ano 1996: Salario = R$ 1015.00
Ano 1997: Salario = R$ 1045.45
Ano 1998: Salario = R$ 1108.18
Ano 1999: Salario = R$ 1241.16
Ano 2000: Salario = R$ 1539.04
Ano 2001: Salario = R$ 2277.77
Ano 2002: Salario = R$ 4464.44
Ano 2003: Salario = R$ 13036.15
Ano 2004: Salario = R$ 63094.98
Ano 2005: Salario = R$ 547664.47
Ano 2006: Salario = R$ 8959790.69
Ano 2007: Salario = R$ 284204560.82
Ano 2008: Salario = R$ 17745732777.31
Ano 2009: Salario = R$ 2198341376453.00
Ano 2010: Salario = R$ 542462718053542.19
Ano 2011: Salario = R$ 267173737895730592.00
Ano 2012: Salario = R$ 262909645038914699264.00
Ano 2013: Salario = R$ 517164304563148312018944.00
Ano 2014: Salario = R$ 2034089956135592355082272768.00
Ano 2015: Salario = R$ 15998768413792396533288497315840.00
Ano 2016: Salario = R$ 251654867592325433880764780338216960.00
Ano 2017: Salario = R$ 7916629288082299627197923665876621459456.00
Ano 2018: Salario = R$ 498079164972099231500831130952899538079186944.00
Ano 2019: Salario = R$ 62673361097939047128369603216519565598853735383040.00
Ano 2020: Salario = R$ 15772330422152904879813669471476743110304999867596931072.00
Ano 2021: Salario = R$ 7938489601805336068635772326082728232002794894148337456381952.00
Ano 2022: Salario = R$ 7991153224284128798258150233991349427319130527005635733005380091904.00
Ano 2023: Salario = R$ 16088324439102575290435630651444932919564627342328716299616484873371385856.00
Ano 2024: Salario = R$ 64780166694621097717661435651754373841996112945846734312267054465902060362530816.00
Ano 2025: Salario = R$ 521678872372965470535091993624533602402702219041505716918642386185896096032600478449664.00

Salário atual em 2025: R$521678872372965470535091993624533602402702219041505716918642386185896096032600478449664.00

In [16]:
#Faça um programa que receba a idade de 15 pessoas e que calcule e mostre:
# a . A quantidade de pessoas em cada faiza etária;
#b. A porcentagem de pessoas na primeuira e na última faixa etária, com relação ao total de pessoas:
# Até 15 anos  //  16-30  // 31-45  // 46-60  //  60+

ate_15=0
de_16_a_30 = 0
de_31_a_45 = 0
de_46_a_60 = 0
acima_61 = 0

#Loop para receber a idade de 15 pessoas
for contador in range(15):
  idade= int(input("Idade: "))  #Recebe a idade do usuario

  #verificar em qual faixa a idade se encaixa e incrementa o contador
  if idade <= 15:
    ate_15 += 1
  elif idade <= 30:
    de_16_a_30 +=1
  elif idade <= 45:
    de_31_a_45 +=1
  elif idade <= 60:
    de_46_a_60 +=1
  else:
    acima_61 +=1

#Mostra a quantidade de pessoas em acad faixa etária
print("Até 15 anos: ", ate_15)
print("De 16 a 30 anos: ", de_16_a_30)
print("De 31 a 45: ", de_31_a_45)
print("De 46 a 60: ", de_46_a_60)
print("Mais de 60: ", acima_61)

#Calcular e mostrar a prortcentagem da primeiura e ultima faixa em relação ao total

print(f"taça de 15 anos: {(ate_15/15) *100:.1f}%")
print(f"taça de 16 a 30 anos: {(de_16_a_30/15) *100:.1f}%")
print(f"taça de 31 a 45 anos: {(de_31_a_45/15) *100:.1f}%")
print(f"taça de 46 a 60 anos: {(de_46_a_60/15) *100:.1f}%")
print(f"taça de 60 anos: {(acima_61/15) *100:.1f}%")

Idade: 23
Idade: 456
Idade: 12
Idade: 0
Idade: 567
Idade: 3
Idade: 6
Idade: 45
Idade: 35
Idade: 24
Idade: 57
Idade: 12
Idade: 67
Idade: 13
Idade: 24
Até 15 anos:  6
De 16 a 30 anos:  3
De 31 a 45:  2
De 46 a 60:  1
Mais de 60:  3
taça de 15 anos: 40.0%
taça de 16 a 30 anos: 20.0%
taça de 31 a 45 anos: 13.3%
taça de 46 a 60 anos: 6.7%
taça de 60 anos: 20.0%

In [22]:
#Exercicios Lasso for

#Exercicio 1. Um engenheiro precisa contar os tijolos empilhados de 1 até 100. Crie um programa que mostre essa contagem.

tijolo=1

for contador in range (1,101):
  contandoTijolo = 1
  print("Número de tijolo: ", tijolo)
  tijolo += 1

Número de tijolo:  1
Número de tijolo:  2
Número de tijolo:  3
Número de tijolo:  4
Número de tijolo:  5
Número de tijolo:  6
Número de tijolo:  7
Número de tijolo:  8
Número de tijolo:  9
Número de tijolo:  10
Número de tijolo:  11
Número de tijolo:  12
Número de tijolo:  13
Número de tijolo:  14
Número de tijolo:  15
Número de tijolo:  16
Número de tijolo:  17
Número de tijolo:  18
Número de tijolo:  19
Número de tijolo:  20
Número de tijolo:  21
Número de tijolo:  22
Número de tijolo:  23
Número de tijolo:  24
Número de tijolo:  25
Número de tijolo:  26
Número de tijolo:  27
Número de tijolo:  28
Número de tijolo:  29
Número de tijolo:  30
Número de tijolo:  31
Número de tijolo:  32
Número de tijolo:  33
Número de tijolo:  34
Número de tijolo:  35
Número de tijolo:  36
Número de tijolo:  37
Número de tijolo:  38
Número de tijolo:  39
Número de tijolo:  40
Número de tijolo:  41
Número de tijolo:  42
Número de tijolo:  43
Número de tijolo:  44
Número de tijolo:  45
Número de tijolo:  46
Número de tijolo:  47
Número de tijolo:  48
Número de tijolo:  49
Número de tijolo:  50
Número de tijolo:  51
Número de tijolo:  52
Número de tijolo:  53
Número de tijolo:  54
Número de tijolo:  55
Número de tijolo:  56
Número de tijolo:  57
Número de tijolo:  58
Número de tijolo:  59
Número de tijolo:  60
Número de tijolo:  61
Número de tijolo:  62
Número de tijolo:  63
Número de tijolo:  64
Número de tijolo:  65
Número de tijolo:  66
Número de tijolo:  67
Número de tijolo:  68
Número de tijolo:  69
Número de tijolo:  70
Número de tijolo:  71
Número de tijolo:  72
Número de tijolo:  73
Número de tijolo:  74
Número de tijolo:  75
Número de tijolo:  76
Número de tijolo:  77
Número de tijolo:  78
Número de tijolo:  79
Número de tijolo:  80
Número de tijolo:  81
Número de tijolo:  82
Número de tijolo:  83
Número de tijolo:  84
Número de tijolo:  85
Número de tijolo:  86
Número de tijolo:  87
Número de tijolo:  88
Número de tijolo:  89
Número de tijolo:  90
Número de tijolo:  91
Número de tijolo:  92
Número de tijolo:  93
Número de tijolo:  94
Número de tijolo:  95
Número de tijolo:  96
Número de tijolo:  97
Número de tijolo:  98
Número de tijolo:  99
Número de tijolo:  100

In [ ]:
#2. Um pintor pinta postes de luz e pinta apenas os de número par. Mostre quais postes de 1 a 50 ele irá pintar.